#Projects {
    color: crimson;
    height: 1000px;
    scroll-margin: 80px;
}

a {
    position: relative;
}

.img_card {
    width: 200px !important;
    height: 15vw;
    object-fit: cover;
}

.card-img-overlay {

    height: 30%;
}

.card {
    width: 200px;
    margin: 10px;
    background-color:azure;
}

.main_div {
    text-align:center;
    position: relative;
}
.sub_div {
    position: relative;
    bottom: 0px;
}